rembg==2.0.30
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
h5py==3.8.0
opencv-contrib-python==4.7.0.68
opencv-python-headless==4.6.0.66
Pillow==9.3.0
streamlit==1.17.0
numpy==1.23.5
matplotlib-base==3.6.0
matplotlib-inline==0.1.6
